* {
    background-color: black;
    color: white;
    margin: 0px;
    padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    justify-content: space-between;
    margin-right: 10px;

}

.heading {
    font-size: 20px;
    font-weight: 600;
    text-align: left;
    margin-left: 30px;
    margin-top: 25px;
    padding: 5px;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.nav-box {
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 50px;
    text-align: center;
}

.nav-options {
    padding: 20px;
    text-align: center;

}

.nav-icons {
    align-items: right;
    margin-top: 5px;
    text-align: right;
    padding: 10px;
    margin-right: 20px;
}

.icons {
    padding: 20px;
}

.main-img {
    width: 100vw;
    position: relative;
}

.image-content {
    color: white;

}

.image-heading {
    font-size: 70px;
    font-weight: 700;
    position: absolute;
    left: 40px;
    top: 100px;
    background-color: transparent;
    letter-spacing: 6px;
    width: 600px;
    margin-left: 75px;
}

.image-body {
    text-align: justify;
    position: absolute;
    left: 40px;
    top: 400px;
    background-color: transparent;
    margin-left: 75px;
    width: 450px;
    font-size: 20px;
    margin-top: 10px;
}

.abt-heading {
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    margin-top: 30px;
    margin-bottom: 10px;
}
.mr-5{
    position: absolute;
    top: 350px;
    left: 120px;
}
.about-body {
    margin-bottom: 40px;
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
}
.hr{
    margin-left: 620px;
    margin-bottom: 40px;
}


.about-1 {
    margin-top: 30px;
    width: 600px;
    letter-spacing: 2px;

}

.menu {
    margin-top: 30px;
}

.menu-heading {
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.menu-body {
    margin-left: 150px;
    margin-right: 150px;
    justify-content: space-between;
}

.item-heading {
    color: #cdaa41;
    letter-spacing: 2px;
}

.item-body {
    letter-spacing: 1.5px;
}

.item-image {
    margin-right: 10px;
    margin-bottom: 50px;
}

.item {
    margin-right: 30px;
}

.carousel-heading {
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.carousel-inner{
  
    height: 450px;
}
.carousel-body {
    margin-left: 40px;
    margin-right: 60px;
    margin-bottom: 40px;

}
.hr-gal{
    margin-left: 380px;
    margin-bottom: 40px;
}
.gallery-1 {
    margin-left: 300px;
    margin-right: 180px;
    /* justify-content: space-between; */
    
    
}

.gallery-heading {
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.gallery-container {
    height: 450px; 
    width: 100vw;
}

.col-1 {
    width: 850px;
    height: 450px;
    position: relative;
    width: 100vw;
    margin-right: 10px;
}

.col-2 {
    position: absolute;
    left: 750px;
    
    /* height: 450px; */
    width: 100vw;
}

.col-3 {
    position: absolute;
    left: 950px;
    
    /* height: 450px; */
    width: 100vw;
}

.g-item {
     padding: 5px; 
    border-radius: 15px;
}
.find-us{
    margin-top: 40px;
}
.find-us-body {
    margin-left: 150px;
    margin-right: 200px;
    background-color: black;

}

.find-left {
    width: 600px;
    padding: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.find-body {
    letter-spacing: 2px;
    margin-bottom: 20px;
    
}

.f-location {
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.f-no {
    margin-bottom: 15px;
    letter-spacing: 2px;
}

.findus-heading {
    text-align: center;
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 10px;
}
.footer{
    margin-left: 80px;
    margin-top: 150px;
    margin-right: 300px;
}
.ftext{
    letter-spacing: 2px;
}
.menu-text{
    margin-left: 150px;
    margin-right: 150px;
    margin-bottom: 70px;
    letter-spacing: 2px;
}
@media (max-width:720px){
    *{
justify-content: center;
align-items: center;

    }
    .about-body{
        display: flex;
        flex-direction: column-reverse;
        width:100vw;
        margin-inline: 5px;        
    }
    .nav-bar{
        display: flex;
        flex-direction: column;
    }
    .nav-box{
        display: flex;
        flex-direction: column;
        width: 50vw;
    }
    .nav-icons{
        display: flex;
        flex-direction: row; 
    align-content: flex-start;
    }
.main-img{
    width: 100%;  
    width:100vw;
    margin-inline: 5px;
}
.menu-body{
    display: flex;
    flex-direction: column;
    width:100vw;
    margin-inline: 5px;
}
.item{
    display: flex;
    flex-direction: column;
    width:100vw;
    margin-inline: 5px;
}
.menu-text{
    width:100vw;
    margin-inline: 5px;
} 
.carousel-body {
    width:100vw;
    margin-inline: 5px;
}
.find-us{
    width:100vw;
    margin-inline: 5px;
  
}
.find-right{
    display: none;
}
.find-body .find-us-body .f-location{

    display: flex;
    flex-direction: column;
    width:100vw;
    margin-inline: 5px;
}
.footer{
    width:100vw;
    margin-inline: 5px; 
    display: flex;
    flex-direction: column;
}
.f-location .f-no{
    width:100vw;
    margin-inline: 5px; 
    display: flex;
    flex-direction: column;
}

.gallery-container{
    width:100vw;
    margin-inline: 5px; 
    display: flex;
    flex-direction: column;
}
}
